name: release
on:
  push:
    tags: ['v*.*.*']
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Notify Packagist
        run: |
          REPO_URL="https://github.com/${{ github.repository }}"
          curl -X POST "https://packagist.org/api/update-package?username=${{ secrets.PACKAGIST_USERNAME }}&apiToken=${{ secrets.PACKAGIST_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d "{\"repository\":{\"url\":\"$REPO_URL\"}}"
      - uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
